*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  min-width: 320px;
  height: auto;
  font-family: 'Teko', sans-serif;
}
:root{
  --white: #d9dcdd;
  --darkBlue: #011F3A;
}